body {
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    font-size: 75px;
}

#header {
    margin-top: 15%;
}

#gameBoard {
    margin-top: 5%;
}

#playAgain {
    margin-top: 5%;
    display: none;
}